<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>PricePickCompare</title>
    <script src="/static/js/NavBar.js"></script>
    <script src="/static/js/Footer.js"></script>
    <script src="/static/js/compare.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/NavBar.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/compare.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <div class="outer-frame">
        <nav-bar></nav-bar>
        <div class="content-frame">
            <div class="function-bar">
                <div class="category"><span></span></div>
                <div class="filter-bar"><span>篩選欄</span></div>
            </div>
            <div class="compare-list">
                <div>Data Loading....</div>
            </div>
            
        </div>
        <my-footer></my-footer>
    </div>
</body>

</html>