/Users/renyiting/Library/CloudStorage/OneDrive-個人/文件/GitHub/price-compare/pchome-prod/*
/Users/renyiting/Library/CloudStorage/OneDrive-個人/文件/GitHub/price-compare/pchome-desc/*
/Users/renyiting/Library/CloudStorage/OneDrive-個人/文件/GitHub/price-compare/pchome-salestatus/*
/Users/renyiting/Library/CloudStorage/OneDrive-個人/文件/GitHub/price-compare/momo-categories/*
/Users/renyiting/Library/CloudStorage/OneDrive-個人/文件/GitHub/price-compare/momo-prod/*
/Users/renyiting/Library/CloudStorage/OneDrive-個人/文件/GitHub/price-compare/price-pick-env/
*.env
Price-Pick.xmind
pchome-L1categories.txt