.content-frame{
    width:100%;
    display:grid;
    justify-content: center;
}
.board{
    display:grid;
    max-width: 1200px;
    width: 100vw;
}
.row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #ffc13b;
    color:white;
}
.num2{
    background-color: #ff6340;
}
.num3 {
    background-color: #ffc13b;
}

.row>img{
    width:100%;
    min-height: 250px;
    object-fit: cover;
}
.row-details{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
    grid-auto-rows: min-content;
    align-items:center;
    /* gap:5px; */
    font-size: 0.5em;
    font-weight: lighter;

}
.row-details>a:link{
    text-decoration: none;
}
.row-details>a:visited {
    text-decoration: none;
}
.category:hover{
    background-color: #1e3d59;
}
.category{
    cursor: pointer;
    color:white;
    /* background-color: #f5f0e1; */
    padding:5px 0;

    text-align: center;
    vertical-align: middle;
}
.num1>.category{
    background-color: #ffc13b;
}
.num2>.category {
    background-color: #ff6340;
}
.num3>.category {
    background-color: #ffc13b;
}


@media(max-width:500px){
    .board{
        gap: 10px;
    }
    .row{
        grid-template-columns: 1fr;
        background-color: #f5f0e1;
    }
    .row>img{
        grid-row: -1;
    }
}