<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>PricePick</title>
    <script src="/static/js/NavBar.js"></script>
    <script src="/static/js/Footer.js"></script>
    <!-- <script src="/static/js/login-register.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/static/css/NavBar.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/login-register.css" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script>
        checkAuth();
    </script>
</head>

<body>
    <div class="outer-frame">
        <nav-bar></nav-bar>
        <div class="content-frame">
            <div class="board">
                <div class="row num1">
                    <img src="/static/img/0-3.jpeg"/>
                    <div class="row-details">
                        <a href="/compare?Category=消毒鍋" class="category">消毒鍋</a>
                        <a href="/compare?Category=奶瓶" class="category">奶瓶</a>
                        <a href="/compare?Category=奶嘴" class="category">奶嘴</a>
                        <a href="/compare?Category=溫奶器" class="category">溫奶器</a>
                        <a href="/compare?Category=汽座" class="category">汽座</a>
                        <a href="/compare?Category=推車" class="category">推車</a>
                    </div>
                </div>

                <div class="row num2">
                    
                    <div class="row-details">
                        <a href="/compare?Category=副食品分裝盒" class="category">副食品分裝盒</a>
                        <a href="/compare?Category=副食品調理器" class="category">副食品調理器</a>
                        <a href="/compare?Category=口水巾" class="category">口水巾</a>
                        <a href="/compare?Category=圍兜" class="category">圍兜</a>
                    </div>
                    <img src="/static/img/4-6.jpeg" />
                </div>

                <div class="row num3">
                    <img src="/static/img/9-12.jpeg" />
                    <div class="row-details">
                        <a href="/compare?Category=圍欄" class="category">圍欄</a>
                        <a href="/compare?Category=固齒器" class="category">固齒器</a>
                        <a href="/compare?Category=水杯" class="category">水杯</a>
                        <a href="/compare?Category=地墊" class="category">地墊</a>
                        <a href="/compare?Category=餐椅" class="category">餐椅</a>
                        <a href="/compare?Category=餐碗" class="category">餐碗</a>
                        <a href="/compare?Category=餐盤" class="category">餐盤</a>

                    </div>
                </div>
            </div>
        </div>
        
        <!-- Login/singup form -->
        <login-form></login-form>
        <register-form></register-form>

        <my-footer></my-footer>
    </div>
</body>

</html>